body {
  background: url("./images/background.jpeg") no-repeat center center fixed;
  font-family: Montserrat, sans-serif !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
